@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Merriweather+Sans:wght@300;400;600;700&display=swap");
@import url("reset.css");

@import url("css/top-bar.css");
@import url("css/middle-one.css");
@import url("css/middle-two.css");

body * {
  font-family: "Merriweather Sans", sans-serif;
}

.top-bar-pagename-1,
.top-bar-pagename-2 {
  font-family: "Bebas Neue", cursive;
}

:root {
  --pink-color: rgb(210, 82, 174);
  --middle-one-background-color: rgba(244, 244, 244, 0.759);
  --middle-one-blue: rgb(15, 26, 171);
}
